/* Добавьте следующие стили в ваш CSS файл */
body, html {
    margin: 0;
    padding: 0;
    position: fixed;
    background: black;
}

.header {
    position: static !important;
}

canvas {
    cursor: none;
}

/* Стили для черной дыры */
canvas {
    border: 2px solid white;
}
